<div class="order-details" id="orderDetails">
    <!-- <span class="ft-14p bold-ft">Order: #&mvt:global:order_id;</span> -->
    <!-- {{orderSummary.data}} -->
    <mvt:item name="customfields" param="Read_Order(g.order_id,'edit_order',g.edit_order)" />
    <div id="ordersummary">
        <input type="hidden" id="editOrder" value="&mvt:global:edit_order;">
        <h5 class="bold-ft">Order Summary</h5>
        <div class="section" v-for="(item, index) in orderDetails[document.querySelector('#order_id').value]"
            :key="index">
            <h3>Billing Information <i class="billing-find fa fa-angle-down" onclick="toggleShippingInfo(this)"></i></h3>
<p></p>
            <span>{{ item.bill_fname }} {{ item.bill_lname }}</span>
            <span>{{ item.bill_addr }} , {{ item.bill_city }} , {{ item.bill_state }}, {{ item.bill_zip }}</span>
            <span>{{item.bill_phone}} </span>
        </div>
        <div class="section" v-for="(item, index) in orderDetails[document.querySelector('#order_id').value]"
            :key="index">
            <h3>Shipping Information <i class="shipping-find fa fa-angle-down" onclick="toggleShippingInfo(this)"></i></h3>
<p></p>
            <span>{{ item.ship_fname }} {{ item.ship_lname }}</span>
            <span>{{ item.ship_addr }}, {{ item.ship_city }}, {{ item.ship_state }}, {{ item.ship_zip }}</span>
            <span>{{ item.ship_phone }}</span>
        </div>
        <div class="bold-ft" v-for="(item, index) in orderDetails[document.querySelector('#order_id').value]"
            :key="index">
            <span class="ft-12p ord-summary"><span>Sub Total:</span> <span
                    class="ft-md">${{(orderDetails.subtotal).toFixed(2)}}</span></span>
            <span><span v-for="(charges ,index) in orderDetails.ordercharges">
                    <span v-for="(chargelist ,index) in charges" class="ord-summary">
                        <span v-html="chargelist.descrip" class="bold-ft ft-12p"></span>
                        <span class="ft-md ft-12p"> ${{(chargelist.disp_amt).toFixed(2)}}</span>
                    </span>
                </span> </span>
            <!-- <span>Sales Tax: <span class="ft-md">${{(item.total_tax).toFixed(2)}}</span></span> -->
            <span class="ft-12p ord-summary bold-ft">Total: <span class="ft-md">${{(item.total).toFixed(2)}}</span></span>
        </div>

    </div>
    <div class="order-list">
        <!-- Modal Component -->
        <div id="caseCheckModal" class="modal fade" v-show="showModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialogs">
                <div class="modal-contents">
                    <div class="modal-headers">
                        <h4 class="modal-titles">{{ modalMessage }}</h4>
                    </div>
                    <div class="modal-bodys">
                        <span></span>
                    </div>
                    <div class="modal-footers">
                        <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                        <button type="button" class="btn primary-btn btn-orange deleteproductpopup"
                            @click="SameProductUpdate" v-bind:data-pushlineid="pushlineid">Yes,update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="savedOrderDetailsModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialogs" role="document">
                <div class="modal-contents">
                    <div class="modal-headerss">
                        <h5 class="modal-titles">Are you finished making changes to your order?</h5>
                        <!-- <button type="button" class="close1" data-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-bodys">
                        <span class="gpoperror txt-warning txt-center"><span class="ft-demi">PLEASE NOTE:</span> Orders can be edited only once</span>
                    </div>
                    <div class="modal-footers">
                        <button class="btn btn-lg secondary-btn btn-white" data-dismiss="modal" @click="viewOrderDetails.loadOrderDetails()"> Cancel </button>
                        <button class="btn btn-lg primary-btn btn-orange" @click="saveOrderDetails"> Save Changes
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" v-if="deleteOrderItemPopUp" id="deleteOrderItemPopUp" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialogs" role="document">
                <div class="modal-contents">
                    <div class="modal-headerss">
                        <h5 class="modal-titles">Remove this item from your order?</h5>
                       
                    </div>
                    <div class="modal-bodys">
                        <!-- <span class="gpoperror txt-warning txt-center">Orders can be editied once</span> -->
                    </div>
                    <div class="modal-footers">
                        <button class="btn btn-lg secondary-btn btn-white" @click="viewOrderDetails.loadOrderDetails()" data-dismiss="modal"> Cancel </button>
                        <button class="btn btn-lg primary-btn btn-orange" v-bind:data-line-id="deletelineId" @click="deleteOrderItem(deletelineId,1)"> Remove item
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div class="ordernumberandbuttonholder"><span class="ft-14p bold-ft">Order: #&mvt:global:order_id;</span>
            <button v-if="isOrderEdited" type="button" class="btn primary-btn btn-yellow"
                @click="$('#savedOrderDetailsModal').modal('show');">Save
                Changes</button>
        </div>
        <div v-if="showLoader" class="loader-overlay">
            <img src="graphics/00000001/loading.gif" alt="Loading...">
        </div>
        <div class="order-row header">
            <div class="order-item">Items</div>
            <div class="order-size">Size</div>
            <div class="order-unit">Unit</div>
            <div class="order-price">Price</div>
            <div class="order-qty">Qty Ordered</div>
        </div>
        <div class="orderholder">
            <div class="order-row" v-for="orders in orderDetails.orderitems">
                <div class="order-items" v-bind:class="products.data.product_inventory <= 0 ? 'greyout' : ''" v-for="(products, idx) in orders.product" :key="idx">
                    <div  v-if="orders.product && orders.product.length > 0"
                        v-for="(products, idx) in orders.product" :key="idx" v-bind:class="products.data.product_inventory <= 0 ? 'greyout' : ''">
                        <img v-if="products.data.productimagedata && products.data.productimagedata[0]"
                            class="img-responsive wd-100"
                            :src="products.data.productimagedata[0].image || 'https://placehold.co/400'" alt="" />
                    </div>
                    <div class="ord-name-sku"><span>{{ orders.name }}</span> <span class="txt-gray ft-12p">
                            {{orders.sku}}
                        </span>
                    <span v-for="(products, idx) in orders.product" :key="idx" class="txt-orange ft-12p viewSubstitution pointer" v-bind:class="'ProductDetails-'+products.data.code" @click="showSubstitutions(products.data.code,products.data.substitute);" v-if="products.data.product_inventory <= 0 && products.data.substitute !== ''" style="display: none;">Add Substitution</span>
                    </div>
                </div>
                <div class="order-size">
                    <span v-for="(products, idx) in orders.product" :key="idx">
                        <span v-for="(variant, index) in products.data.variants" v-if="variant.UOM_TEXT !== 'Threebie'">
                            <span
                                v-if="orders.code == variant.code || variant.checkedvalues == true">{{variant.unit_size_raw}}</span>
                        </span>
                </div>
                <div v-for="(product, idx) in orders.product" :key="idx" class="order-units"
                    v-bind:class="'ProductDetail-'+product.data.code+orders.line_id" v-bind:class="product.data.product_inventory <= 0 ? 'greyout' : ''" v-bind:style="product.data.product_inventory <= 0 ? 'pointer-events:all;' : ''">
                    <div v-for="(variant, index) in product.data.variants" v-if="variant.UOM_TEXT !== 'Threebie'" v-bind:class="[variant.inv <=0 ? 'disabled ' : '' , product.data.product_inventory <= 0 ? 'greyout' : '']">
                        <input type="hidden" v-bind:name="'Products['+product.data.id+']:attributes[1]:code'"
                            class="miltiattrcode" value="size" autocomplete="off">
                        <div class="form-check " style="margin-top: 0">

                            <input class="form-check-inputs miltiattrvalue" v-bind:disabled="variant.inv <= 0 ? true : false"
                                v-bind:class="variant.UOM_TEXT === 'Threebie' ? '' : 'radioUnit-'+variant.code"
                                type="radio"
                                v-bind:name="'Products['+product.data.id+orders.line_id+']:attributes[1]:value'"
                                v-bind:id="variant.code+'-option'" v-bind:value="variant.code"
                                v-bind:data-option-code="variant.code" v-bind:data-parent="product.data.code"
                                v-bind:data-stock="variant.inv"
                                v-bind:actualdata-stock="variant.inv"
                                v-bind:data-stockafteraddedtocart="variant.inv"
                                v-bind:data-product_code="product.data.code+orders.line_id" v-bind:data-uom="variant.UOM"
                                v-bind:data-product_sku="product.data.sku" v-bind:data-line_id="orders.line_id"
                                v-bind:data-name="product.data.name" v-bind:data-code="variant.code"
                                v-bind:data-sku="product.data.sku" v-bind:data-quantity="2"
                                v-bind:data-price="variant.price" v-bind:data-weight="product.data.weight"
                                v-bind:data-taxable="product.data.taxable" v-bind:data-attr_code="'size'"
                                v-bind:data-opt_code_or_data="variant.code" v-bind:data-attr_price="variant.price"
                                v-bind:data-attr_weight="product.data.weight" data-maxqty="" data-saleprice="$0.50"
                                data-salebaseprice="$2.55" v-bind:data-min="variant.pack_size"
                                v-bind:checked="orders.code == variant.code || variant.checkedvalues == true ? true : ''"
                                autocomplete="off"
                                v-bind:data-orderduom="orders.OrderdedUOM"
                                @change="setQuantityforThreebie(product.data.code+orders.line_id, orders.quantity , orders.code ,variant.code);checkCase(orders.line_id,orders.code == variant.code ? orders.code :variant.code,orders.code == variant.code ? capitalizeText(variant.UOM) : capitalizeText(variant.UOM) ,$event);">


                            <label class="form-check-label shown" v-bind:for="variant.code+'-option'"
                                v-if="variant.UOM_TEXT !== 'Threebie'">
                                <span hidden="" class="displayUom uom_name">{{variant.UOM}}</span>
                                <input v-bind:value="variant.pack_size" class="data-min hidden"
                                    v-bind:data-stock="variant.inv"
                                    v-bind:class="'prodcodecheck-'+variant.code" class="data-min hidden"
                                    v-bind:data-newuom="variant.addclass && product.data.market_product != '1' && isSlacUser.includes('SLAC') !== true && vueUserTypes == 'Retail' ? '' :  getUomforInventorymessage(variant.UOM)"
                                    v-bind:data-reorderstock="product.data.product_inventory" autocomplete="off">
                                <span class="option-prompt" style="display:none">{{variant.UOM}}</span>
                                <span class="uomName mb-ft-12p ft-12p">{{capitalizeText(variant.UOM)}}</span>
                                <span class="units_pk" style="display:none;">&nbsp;</span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="order-price">${{(orders.price).toFixed(2)}}</div>
                <div class="order-qty" v-for="(product, idx) in orders.product" :key="idx" v-bind:class="product.data.product_inventory <= 0 ? 'greyout' : ''">
                    <button type="button"
                        class="btn primary-btn prod-card-btn ft-12p btn-height upbuttons productcardbtn" v-bind:style="product.data.product_inventory <= 0 ? 'pointer-events:all;' : ''">
                        <span class="newMinusBtn" v-bind:style="orders.quantity == 1 ? 'pointer-events:none;cursor:not-allowed;opacity:0.5' : ''"
                            @click="qtyupdateDesk('qty-'+product.data.code+'-lineid'+orders.line_id,'minus',product.data.code,product.data.code,orders.line_id);">
                            -
                        </span>
                        <input type="tel" v-bind:name="'Products['+product.data.id+orders.line_id+']:quantity'"
                            v-bind:value="orders.quantity" class="align-center text-center qtybox   multiprodqty QtyVal"
                            v-bind:class="['qtybox-'+product.data.sku , 'qty-'+product.data.code, 'qty-lineid'+product.data.code+orders.line_id]"
                            v-bind:data-stock="product.data.product_inventory" data-maxqty="" v-bind:data-minqty="12"
                            v-bind:data-productcode="product.data.code" data-product-att1="size"
                            v-bind:data-product-att2="product.data.code" maxlength="4" @change="qtyValueReset($event);"
                            @keyup="qtyupdateDeskInput('qty-'+product.data.code,'plus',product.data.code,product.data.code);"
                            onkeypress="return isNumber(event)"
                            v-bind:data-stockafteraddedtocart="product.data.product_inventory" autocomplete="off"
                            v-bind:data-productid="product.data.id" readonly>
                        <span class="newPlusBtn"
                            @click="qtyupdateDesk('qty-'+product.data.code+'-lineid'+orders.line_id,'plus',product.data.code,product.data.code,orders.line_id);">
                            +
                        </span>
                    </button>
                    <a data-ogid="15409" v-if="orderDetails.orderitems.length > 1" v-bind:data-lineid="orders.line_id"
                        class="ogdelete" @click="deleteOrderItem(orders.line_id,products.data.product_inventory)" contenteditable="false"
                        style="cursor: pointer;" v-for="(products, idx) in orders.product" :key="idx"><span class="material-icons grey-lighter-1">
                            highlight_off
                        </span></a>
                </div>

            </div>
        </div>

    </div>
</div>

<style>
    #orderDetails {
        display: grid;
        grid-template-columns: 180px 760px;
	grid-gap:10px;
       border-right: solid 2px #ccc;
    }

    .order-details h1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .order-details {
        position: relative;
    }

    .save-button {
        background-color: #ffcc00;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }

    .order-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .order-row {
        display: grid;
        grid-template-columns: 300px 50px 100px 60px 200px;
        gap: 10px;
        padding: 10px;
        border-bottom: 1px solid #ddd;
align-items: center;
    }

    .header {
        font-family: 'ITCAvantGardePro-Bold';
        /* background-color: #f8f8f8; */
        border-bottom: 2px solid #ccc;
    }

    .ord-smmary {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;
    }

    .ord-summary {
        justify-content: space-between;
        gap: 1px;
    }

    .section span {
        font-size: 12px;
        font-family: 'ITCAvantGardePro-Md';
    }

    .order-item,
    .order-size,
    .order-unit,
    .order-price,
    .order-qty {
        display: flex;
        align-items: center;
        font-family: 'ITCAvantGardePro-Md';
        font-size: 14px;
        gap: 10px;
    }

    .order-unit {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .order-units {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: baseline;
        flex-wrap: wrap;
        padding-left: 23px !important;
        justify-content: flex-end;

    }

    .order-unit label {
        display: flex;
        align-items: center;
        gap: 5px;
        align-items: baseline;
    }

    .order-qty {
        /* justify-content: space-between; */
        gap:30px;
    }

    .order-items {
        display: grid;
        grid-template-columns: 60px 1fr;
        font-size: 14px;
        gap:10px;
        font-family: 'ITCAvantGardePro-Md';
    }

    .quantity-controls {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .quantity-controls button {
        background-color: #eee;
        border: 1px solid #ccc;
        padding: 5px 10px;
        cursor: pointer;
    }

    .quantity-controls input {
        width: 50px;
        text-align: center;
    }

    .ord-name-sku {
        display: flex;
        flex-direction: column;
    }

    .orderholder {
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* Full-screen overlay */
    .loader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: rgba(255, 255, 255, 0.8); */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Ensure the loading image is responsive */
    .loader-overlay img {
        max-width: 200px;
        /* Adjust based on preference */
        width: 20%;
        height: auto;
    }



    .greyout {
    color: #ddd !important;
}

    /* .order-row:has(.disabled) {
        opacity: 0.5;
        background-color: #eeeeeee6;
    } */

    @media screen and (max-width: 767px) {
        #orderDetails {
            grid-template-columns: 1fr;
            grid-row: auto;
        }

        #ordersummary {
            grid-row: 2;
        }

        .order-list {
            grid-row: 1;
        }

    }
</style>